<h1>Manage: <%= @map.name %> [<a href="/maps/<%= @map.id %>/presentation">presentation</a>]</h1>

<h2>Viewport</h2>
<% max_width = @images.collect(&:width).max %>
<% max_height = @images.collect(&:height).max %>
<form class="map" action="/maps/<%= @map.id %>" method="post">
  <p>
    <label>W: <input class="map-viewport-w" type="text" name="map[viewport_w]" value="<%= @map.viewport_w %>" size="5" /></label>
    <label>H: <input class="map-viewport-h" type="text" name="map[viewport_h]" value="<%= @map.viewport_h %>" size="5" /></label>
  </p>
  <p>
    <label>X: <input class="map-viewport-x" type="text" name="map[viewport_x]" value="<%= @map.viewport_x %>" size="5" /></label>
    <label>Y: <input class="map-viewport-y" type="text" name="map[viewport_y]" value="<%= @map.viewport_y %>" size="5" /></label>
  </p>
</form>

<h2>Preview</h2>
<div class="map-preview" style="width: <%= max_width %>px; height: <%= max_height %>px;">
  <% @images.each do |image| %>
    <img class="image-<%= image.id %>" src="/maps/<%= @map.id %>/images/<%= image.id %>" style="z-index: <%= image.layer %>;<%= ' display: none;' if !image.visible %>" />
  <% end %>
  <div class="map-viewport" style="top: <%= @map.viewport_y %>px; left: <%= @map.viewport_x %>px; width: <%= @map.viewport_w %>px; height: <%= @map.viewport_h %>px;"></div>
</div>

<h2>Images</h2>
<ul class="images">
<% @images.each do |image| %>
  <li data-id="<%= image.id %>">
    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
    <form class="image" action="/maps/<%= @map.id %>/images/<%= image.id %>" method="post">
      <input class="image-layer" type="hidden" name="image[layer]" value="<%= image.layer %>" />
      <input type="hidden" name="image[visible]" value="false" />
      <label>
        <span class="image-name"><%= image.name %></span>
        <input class="image-visibility" type="checkbox" name="image[visible]" value="true" <%= 'checked="checked"' if image.visible %> />
      </label>
    </form>
  </li>
<% end %>
</ul>

<script type="text/javascript">
  var maxWidth = <%= max_width %>;
  var maxHeight = <%= max_height %>;

  function checkViewport() {
    var width = $('.map-viewport-w').val();
    var height = $('.map-viewport-h').val();
    if (width > maxWidth) {
      width = maxWidth;
      $('.map-viewport-w').val(width);
    }
    if (height > maxHeight) {
      height = maxHeight;
      $('.map-viewport-h').val(height);
    }

    var x = $('.map-viewport-x').val();
    var y = $('.map-viewport-y').val();
    if ((x + width) > maxWidth) {
      x = maxWidth - width;
      $('.map-viewport-x').val(x);
    }
    if ((y + height) > maxHeight) {
      y = maxHeight - height;
      $('.map-viewport-y').val(y);
    }
  }

  $(function() {
    $('.map-viewport').resizable({
      containment: '.map-preview',
      handles: 'n, e, s, w, ne, se, sw, nw',
      resize: function(e, ui) {
        $('.map-viewport-w').val(ui.size.width);
        $('.map-viewport-h').val(ui.size.height);
        $('.map-viewport-x').val(ui.position.left);
        $('.map-viewport-y').val(ui.position.top);
      },
      stop: function(e, ui) {
        $('form.map').submit();
      }
    }).draggable({
      containment: '.map-preview',
      drag: function(e, ui) {
        $('.map-viewport-x').val(ui.position.left);
        $('.map-viewport-y').val(ui.position.top);
      },
      stop: function(e, ui) {
        $('form.map').submit();
      }
    });

    $('ul.images').sortable({
      stop: function(e, ui) {
        $(this).find('li').each(function(i) {
          var id = $(this).data('id');
          var form = $(this).find('form');
          var layer = form.find('.image-layer');
          if (layer.val() != i) {
            layer.val(i);
            form.submit();
          }
        });
      }
    });

    $('.map-viewport-x, .map-viewport-y, .map-viewport-w, .map-viewport-h').change(function(e) {
      checkViewport();
      $('.map-viewport').
        css('top', $('.map-viewport-y').val() + 'px').
        css('left', $('.map-viewport-x').val() + 'px').
        width($('.map-viewport-w').val() + 'px').
        height($('.map-viewport-h').val() + 'px');
      $('form.map').submit();
    });

    $('.image-visibility').change(function(e) {
      var obj = $(this);
      obj.closest('form.image').submit();
    });

    $('form').submit(function(e) {
      e.preventDefault();
      var form = $(this);
      $.post(form.attr('action'), form.serialize(), function(data) {
        if (form.hasClass('image')) {
          $('img.image-' + data.image.id).
            toggle(data.image.visible).
            css('z-index', data.image.layer);
        }
      });
    });
  });
</script>
