<h1>Map: <%= @map.name %></h1>

<h2>Actions</h2>
<ul>
  <li><a href="/maps/<%= @map.id %>/manage">Manage</a></li>
  <li><a href="/maps/<%= @map.id %>/presentation">Presentation</a></li>
</ul>

<h2>Images</h2>
<ul>
<% @images.each do |image| %>
  <li><a href="/maps/<%= @map.id %>/images/<%= image.id %>"><%= image.name %></a> [<a class="delete" href="/maps/<%= @map.id %>/images/<%= image.id %>/delete">delete</a>]</li>
<% end %>
</ul>

<form class="new-image" action="/maps/<%= @map.id %>/images" method="post" enctype="multipart/form-data">
  <h3>Upload image:</h3>
  <p>
    <label>Name: <input type="text" name="image[name]" /></label>
  </p>
  <p>
    <label>File: <input type="file" name="image[data]" /></label>
  </p>
  <p>
    <input type="submit" />
  </p>
</form>

<script type="text/javascript">
  $(function() {
    $('a.delete').click(function(e) {
      e.preventDefault();
      if (confirm("Are you sure?")) {
        var form = $('<form method="post"></form>');
        form.attr('action', $(this).attr('href'));
        form.submit();
      }
    });
  });
</script>
